ShipGameC++/ShipGame/.vs/ShipGame/v15/.suo
ShipGameC++/ShipGame/.vs/ShipGame/v15/Browse.VC.db
ShipGameC++/ShipGame/.vs/ShipGame/v15/ipch/AutoPCH/2c73b8780621b238/VECTOR2D.ipch
ShipGameC++/ShipGame/.vs/
